{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1>Profil</h1>
        <p>Email : {{ app.user.email }}</p>
        <a href="{{ path('app_edit_profil') }}">Edit profil</a>
    {% endif %}
{% endblock %}
