{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <p>Connecté en tant qu'admin</p>
    {% else %}
        <p>Vous n'avez pas le rôle adéquat</p>
    {% endif %}
    <h1>Gestion des users</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.email }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}